
.container-login {
  margin-top: 16px;
  padding: 24px;
  align-items: center;
  text-align: center;
}
.border{
    border: none;
    width: 100%;
    border-radius: 8px;
    background: transparent;
    border: solid 1.6px #2e3451 !important;
    margin-left: 24px;
    color: black;
}