.card-login {
    border-radius: 8px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    height: fit-content;
    display: grid;
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
  }

  @keyframes slide{
    from{
      opacity: 0;
    }
    to{
      transform: translateX(0);
      opacity: 1;
    }
  }